apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: homelab-blog-data
  namespace: homelab-docs
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: nfs-client
